.wrapper {
	display: flex;
	flex-flow: row wrap;
}

nav, .middle, footer {
	flex: 1 100%;
	/*border: 5px solid black;*/
}

nav {
	margin: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}

nav a {
	text-decoration: none;
}

nav li {
	list-style: none;
	display: inline;
	margin-right: 10px;
}

.middle {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 150px;
}

footer {
	display: flex;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
}

footer ul {
	list-style: none;
	width: 50%;
	padding: 0;
}

footer li {
	display: inline;
	padding: 10px;
}

footer a {
	text-decoration: none;
}

footer .list1 {
	/*padding-left: 10px;*/
}

footer .list2 {
	text-align: right;
	/*padding-right: 10px*/
}
